
:root {
  --blue_navy: #131e2a; 
  --golder:  ;
  --light_blue_navy:#202F3F; 
}


.App {
  text-align: center;
  padding: 0px;

  font-family: 'Poppins',sans-serif;
}


/* Header Section */
.Header_Container{
  background-color: var(--blue_navy);
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  height: 135px;

}

.Header_Container .Content_Holder{
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .Header_Container .Content_Holder{
  margin: 0 0 ;
} */
.Content_Holder{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 20px; 
  max-width: 1140px;
  /* background-color: red; */
  display: flex;
  max-height: 100%;
  width: 100%;
}
/* .Content_Holder{
  margin: 0px;
  max-width: 1140px;
  background-color: red; 
  display: flex;
  max-height: 100%;
  width: 100%;
} */

.Content_Holder ul{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  list-style: none;
}
.Content_Holder ul a{
  text-decoration: none;
  color: #fff;
  
}
.Content_Holder ul li{
  margin: 30px;
  color: white;
}


.Content_Holder img{
  max-height: 100%;
}

/* End of Header Section */




/* Hero Section */

.Hero_Container{
  background-image: url('./assets/images/pattern_background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 79vh;
  max-width: min(100%,var(--width));

  background-color: var(--blue_navy);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 110px;  */
  width: 100%;

}


.Hero_Container .Content_Holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero_Container .Content_Holder h1{
  font-size: 72px;
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 70px;
  text-align: start;

}

.Hero_Container p{
  text-align: start;
  color: #131e2a;
  font-size: 17px;
  margin-top: 40px;
}

.Hero_Container .Welcome_Content{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 20px;

}

.Hero_Container .Welcome_Content button{
  width: 140px;
  font-size: 0.93333333333333rem;
  padding: 15px 20px;
  border-radius: 4px;
  color: #131e2a;
  border: none;
  background-image: linear-gradient(45deg, #7F5523 0%, #FCC676 100%);
}

.Image_Container{
  max-width: 50%;
  padding: 0 20px 0 0; 
  box-sizing: border-box; 
}


.Bottom_Image{
  background-color: var(--light_blue_navy);
  border-radius: 16px;
  color: white;

  display: flex;
  padding: 20px 20px 20px 20px;
  align-items: center;
  text-align: start;
  justify-content: space-between;

}

.Bottom_Image h2{
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 21px;
}

.Bottom_Image h3{
  margin-top: 10px;
  /* margin-right: 15px; */
  font-size: 12px;
  opacity: 70%;
}

.Bottom_Image button{
  background-image: linear-gradient(45deg, #7F5523 0%, #FCC676 100%);
  color: white;
  border: none;
  font-size: 0.9rem;
  padding: 13px 25px;
  border-radius: 4px;
  margin-left: 20px;

  /* margin-top: 40px; */
  
}


@media screen and (max-width: 1024px) {


.Hero_Container .Content_Holder{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}

.Hero_Container{
  box-sizing: border-box;
}
.Hero_Container .Welcome_Content{
  box-sizing: border-box;
  width: 100%;
  padding: 30px 20px;
}

.Hero_Container .Content_Holder h1{
  font-size: 48px;
  margin-top: 0px;
  padding-right: 75px;
  line-height: 1em;
  text-align: start;
}

.Hero_Container p{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px; 
}

.Image_Container{
  max-width: 100%;
}

.text_container{
  padding: 0px;
  margin: 0px;
  max-width: 600px;
  /* margin-right: 300px; */
}

.menuHolder{
  display: flex;
}

}
@media  screen and (max-width:460px) {
  
  .Content_Holder ul{
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
  }

  .menuHolder{
    width: 100%;

  }

  .Image_Container{
    padding: 0px;

  }

  .Hero_Container .Content_Holder h1{
    font-size: 38px;
    margin-top: 0px;
    padding-right: 25px;
  
  }

  .Hero_Container p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 7px;
    
  }
  .Hero_Container .Welcome_Content{
    padding: 15px 10px;
  }
  
  .Bottom_Image h2{
    font-size: 16px;
  }
  
  .Bottom_Image h3{
    font-size: 11px;
  }
  
  
}
@media  screen and (max-width:400px) {
  .Bottom_Image h2{
    font-size: 14px;
  }
  
  .Bottom_Image h3{
    font-size: 10px;
  }
}

/* End of Hero Section */

/* contact section */


/* Golden Segment */
.Golder_Segment{
  height: 60px;
  background-image: linear-gradient(45deg, #7F5523 0%, #FCC676 100%);
}
/* Golden Segment */

/* About Section */

.About_Header_Container{
  background-color: var(--blue_navy);
}

.About_Header_Container .Content_Holder{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  height: 180px;
  flex-direction: column;
}

.About_Header_Container h1{
  font-size: 54px;
  opacity: 90%;                                                        
  color: #ffffff; 

  /* Change the font style for the the above and bottom */
}

.About_Header_Container h5{
  color:#ffffff; 
  font-size: 15px;
  opacity: 70%;
}

.About_Body_Container{
  background-color: var(--blue_navy);
}

.About_Body_Container .Content_Holder{
  display: flex;
  background-color: var(--blue_navy);
  box-sizing: border-box;
  height: 600px;
}

.About_Body_Container .leftContent,.About_Body_Container .rightContent{
  padding: 25px 55px;
  box-sizing: border-box;
  color: #ffffff;
} 

.vertical-line{
  border-left: 2px solid #ffffff; 
  height: 100%; 
  opacity: 70%;
}
/* End of About Section */

.contact-container{
  background-color: var(--blue_navy);
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

/* .contact-container .Content_Holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
} */

h1{
  color: #212121;
  font-weight: 400;
  font-size: 55px;
}
.card1-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 10px;
  margin-left: 150px;
}

.contact-content{
  font-weight:800;
  font-size: 20px;
}
.card1-content h3{
  text-align: start;
}
.card1-content p{
  text-align: start;
}
.card2{
  background-color:#7F5523;
  border-radius: 0;
  height:20rem;
  margin-top:70px;
  width: 6rem;
}
.card2-img{
  height:20px;
  width: 20px;
}
.container-row{
  margin-left: 200px;
  margin-top: 100px;
}
.card1{
  border-radius: 5px;
  height: 30rem;
}
.socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}
.map{
  width: 600px;
  height: 20rem;
  border: 0;
  margin-top: 70px;
}
@media screen and  (max-width:1000px){
  .container-row{
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 40px;
  }
  .card2{
    height: 6rem;
    width: 100%;
  }
  .socials{
    flex-direction: row;
    justify-content: center;
  }
  .card2-img{
    height:35px;
    width: 35px;
    margin-left: 30px;
  }
  .map{
    width: 100%;
    margin-top: auto;
    margin-left: 0px;
  }
  .card1-content{
    margin-left: 300px; 
   }

}

/* end of Contact */

/*ContactForm*/
.contactForm-container{
  min-height: 90vh;
  background-color: rgb(228, 233, 236);
  align-items: center;
}
.ContactForm-content{
  width: 40%;
  margin-top: 50px;
  margin-left: 200px;
}
.ContactForm-content h2{
  text-align: start;
  font-weight: 800;
  font-size: 40px;
}
.ContactForm-content p{
  text-align: start;
}
.contactForm-form{
  width: 50%;
  margin-right: 150px;
  margin-left: 20px;

}
@media screen and  (max-width:1000){
 
  .ContactForm-content{
    width: 100%;
    margin-left: auto;
  }
  .contactForm-form{
    width: 100%;
  }
  
}


