
:root {
  --blue_navy: #131e2a; 
  --golder:  ;
  --light_blue_navy:#202F3F; 
}


.App {
  text-align: center;
  padding: 0px;

  font-family: 'Poppins',sans-serif;
}


/* Header Section */
.Header_Container{
  background-color: var(--blue_navy);
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  height: 110px;

}

.Header_Container .Content_Holder{
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Content_Holder{
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1140px;
  /* background-color: red; */
  display: flex;
  max-height: 100%;
  width: 100%;
}
/* .Content_Holder{
  margin: 0px;
  max-width: 1140px;
  background-color: red; 
  display: flex;
  max-height: 100%;
  width: 100%;
} */

.Content_Holder ul{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  list-style: none;
}
.Content_Holder ul a{
  text-decoration: none;
  color: #fff;
  
}
.Content_Holder ul li{
  margin: 30px;
  color: white;
}


.Content_Holder img{
  max-height: 100%;
}

/* End of Header Section */




/* Hero Section */

.Hero_Container{
  background-image: url('./assets/images/pattern_background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 79vh;
  max-width: min(100%,var(--width));

  background-color: var(--blue_navy);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 110px;  */
  width: 100%;

  margin: 10px;
}


.Hero_Container .Content_Holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Hero_Container .Content_Holder h1{
  font-size: 72px;
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 70px;
  text-align: start;

}

.Hero_Container p{
  text-align: start;
  color: #131e2a;
  font-size: 17px;
  margin-top: 40px;
}

.Hero_Container .Welcome_Content{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 20px;

}

.Hero_Container .Welcome_Content button{
  width: 140px;
  font-size: 0.93333333333333rem;
  padding: 15px 20px;
  border-radius: 4px;
  color: #131e2a;
  border: none;
  background-image: linear-gradient(45deg, #7F5523 0%, #FCC676 100%);
}

.Image_Container{
  width: 50%;
}


.Bottom_Image{
  background-color: var(--light_blue_navy);
  border-radius: 16px;
  color: white;

  display: flex;
  padding: 20px 20px 20px 20px;
  align-items: center;
  text-align: start;
  justify-content: space-between;

}

.Bottom_Image h2{
  margin-bottom: 5px;
  margin-top: 0px;
}

.Bottom_Image h3{
  margin-top: 10px;
  /* margin-right: 15px; */
  font-size: 12px;
  opacity: 70%;


}

.Bottom_Image button{
  background-image: linear-gradient(45deg, #7F5523 0%, #FCC676 100%);
  color: white;
  border: none;
  font-size: 0.9rem;
  padding: 13px 25px;
  border-radius: 4px;
  margin-left: 20px;

  /* margin-top: 40px; */
  
}
/* End of Hero Section */

/* contact section */

.contact-container{
  background-color: var(--blue_navy);
  min-height: 100vh;
  max-width: min(100%,var(--width));
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

/* .contact-container .Content_Holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
} */

h1{
  color: #212121;
  font-weight: 400;
  font-size: 55px;
}
.card1-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 10px;
  margin-left: 150px;
}

.contact-content{
  font-weight:800;
  font-size: 20px;
}
.card1-content h3{
  text-align: start;
}
.card1-content p{
  text-align: start;
}

/* end of Contact */

/*ContactForm*/
.contactForm-container{
  min-height: 90vh;
  max-width: min(100%,var(--width));
  background-color: rgb(228, 233, 236);
  align-items: center;
}
.ContactForm-content{
  width: 40%;
  margin-top: 50px;
  margin-left: 200px;
}
.ContactForm-content h2{
  text-align: start;
  font-weight: 800;
  font-size: 40px;
}
.ContactForm-content p{
  text-align: start;
}
.contactForm-form{
  width: 50%;
  margin-right: 150px;
  margin-left: 20px;

}
