:root {
  --blue_navy: #131e2a; 
  --golder: 
}


.App {
  text-align: center;
  padding: 0px;
}


/* Header Section */
.Header_Container{
  background-color: var(--blue_navy);
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  height: 110px;

}

.Header_Container .Content_Holder{
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Content_Holder{
  margin: 0px;
  max-width: 1140px;
  /* background-color: red; */
  display: flex;
  
}

.Content_Holder ul{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  list-style: none;
}
.Content_Holder ul li{
  margin: 30px;
  color: white;
}

.Content_Holder img{
  max-height: 100%;
}

/* End of Header Section */


