.card_container{
    height: 420px; 
    width: 380px; 
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 8px rgba(219, 136, 34, 0.5); /* Adding box shadow with the specified color */
}

.card_content{
    position: relative;
    padding: 20px;
    background-color: #7F5523;
    color: #ffffff;
    border-top-left-radius: 20px;
    cursor: pointer;
    transform: translateY(47%);
    transition:transform 0.3s; 
    text-align: start;
}

.card_content::before{
    content: '';
    position: absolute;
    top: -52px;
    right: -48px;
    width: 100px;
    height: 100px;
    display: block; border-radius: 50%;
    box-shadow: inset -48px -48px #7F5523;
}

.card_content h3{
    font-size: 24px;
}

.card_content h5{
    font-size: 16px;
    margin-bottom: 15px;
}

.card_content:hover{
    transform: translateY(0);
}


/* here Instade decrease the size When it reaches max-width of 1190 and let the bootstrap take care of 3 in a row situation*/

@media (max-width: 1190px){
    .card_container{
        height: 360px;
        width: 320px;
    }
}
@media (max-width:990px){
    .card_container{
        height: 420px;
        width: 380px;
    }
}
@media (max-width: 420px) {

    .card_container {
        height: 380px; 
        width: 340px;
    }

    /* Add more css to make it more responsive */
  
  }